<!DOCTYPE html>
<html>
<head>
  <title>Messages App</title>
  <!-- 브라우저는 Vue.js를 로드하고 실행하기 전 HTML을 그대로 표시. Vue가 제어권을 가져온 뒤 부착한 지점에서 템플릿 마크업을 제거하고 -->
  <!-- Vue.js가 동적으로 새롭게 생성한 DOM으로 대체될 때까지 템플릿 마크업이 그대로 유지된다. 이 현상을 해결하기 위해 v-cloak 지시자를 추가 -->
  <!-- Vue.js는 동적으로 새롭게 생성한 DOM이 준비되면, v-cloak 지시자를 제거한다 -->
  <style> 
    [v-cloak] {display: none; } 
    body > div {width:500px; margin: 0 auto; }
    textarea {width:100%;}
    ul {padding: 0 15px;}
  </style>
</head>
<body>
  <div id="app" v-cloak>
    <ul>
      <li v-for="message in messages">
        {{message.text}} - {{message.createdAt}}
        <button @click="deleteMessage(message)">X</button>
      </li>
    </ul>
    <form v-on:submit.prevent="addMessage">                        <!-- submit 이벤트가 트리거될 때, 메서드를 호출하지만, 브라우저가 폼을 제출하지 않음 -->
      <textarea v-model="newMessage" placeholder="Leave a message"></textarea>
      <div><button v-bind:disabled="addDisabled" type="submit">Add</button></div>                <!-- submit 이벤트를 트리거하는 버튼 -->
    </form>
  </div> 

  <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>  <!-- 스크립트로 vue 참조 --> 
  <script>
    let vm = new Vue({
      el: '#app',
      data() {       // 컴포넌트에 대한 데이터 구조를 정의할 때 함수를 사용하는 것이 필수, 항상 이 함수로 컴포넌트에 대한 새로운 데이터 모델을 생성하기 때문이다.
        return {     // 아래 주석과 같이 일반 객체를 사용하면, 이 컴포넌트의 모든 인스턴스가 같은 data 객체를 공유하게 된다. (루트 인스턴스만은 상관 없다)
          messages: [],
          newMessage: ''
        }
      },
      // data: {
      //   messages: [],
      //   newMessage: ''
      // }
      methods: {              // 메서드를 만드는데 화살표 함수 구문을 사용하면 안된다. this로 Vue 인스턴스에 접근할 수 없기 때문
        addMessage (event) {
          if(!this.newMessage) { return; }
          this.messages.push({ text: this.newMessage, createdAt: new Date()});
          this.newMessage = '';
        },
        deleteMessage (message) {
          this.messages.splice(this.messages.indexOf(message),1);
        }
      },
      computed: {
        addDisabled() {
          return this.messages.length >= 10 || this.newMessage.length > 50;
        }
      }
    });
  </script>
</body>
</html>